<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.airflow.jobscraper</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>cd /Users/yanndanneels-coignard/Projet/Test1 && source venv/bin/activate && export AIRFLOW_HOME=~/airflow && airflow standalone</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/yanndanneels-coignard/Projet/Test1</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/yanndanneels-coignard/airflow/logs/airflow_stdout.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/yanndanneels-coignard/airflow/logs/airflow_stderr.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
        <key>AIRFLOW_HOME</key>
        <string>/Users/yanndanneels-coignard/airflow</string>
    </dict>
</dict>
</plist>

